<%= link_to "Home", "/" %>

<%= form_tag "/foods/#{@food["id"]}", method: :patch do %>
  <div>
    <input type="text" name="name" value="<%= @food["name"] %>">
  </div>
  <div>
    <input type="text" name="spice" value="<%= @food["spice"] %>">
  </div>
  <%= submit_tag "Submit" %>

<% end %>

