<%= link_to "Home", "/" %>

<br>
<br>

<%= form_tag "/foods/#{@food.id}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%= @food.name %>">
  </div>
  <div>
    Spice: <input type="text" name="spice" value="<%= @food.spice %>">
  </div>
  <%= submit_tag "Submit" %>

<% end %>

